*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;

}
.wrapall{position: relative;
    width: 1260px;
    margin: auto;}

header{height: 139;
    background-color: none;
    display: flex;
    justify-content: center;}
header li{
    font-size: 96px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #3E3E3E;
    
}
a:link{color: #3E3E3E;}
nav ul li a:hover{color: #3E3E3E;
border-bottom: 1px solid #3E3E3E;}
a:active{color: #3E3E3E;}
a:visited{color: #3E3E3E;}
nav{
    background-color: none;
    height: 46px;
    display: flex;
    justify-content: center;
}
nav ul{
    width: 1146px;
    display: flex;
    justify-content: space-between;
}
nav ul li a{
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-style: normal;
}
.wrap1{position: relative;
justify-content: center;
display: flex;
height: 4300px;}
.box1{position: absolute;
    top: 200px;
    left: 0px;}
.box2{position: absolute;
    top: 200px;
    right: 0px;}
.tex1{position: absolute;
    top: 88px;
    left: 130px;
    font-size: 89px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;}
.tex2{position: absolute;
    top: 88px;
    right: 60px;
    font-size: 89px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;}
.tex3{position: absolute;
    top: 1311px;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    text-align: center;}
.tex4{position: absolute;
    top: 1381px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
    text-align: center;}
.box3{position: absolute;
    top: 2101px;}
    .wrap2{position: relative;
        justify-content: center;
        display: flex;
        width: 946px;}
        .tex5{position: absolute;
            top: 2646px;
            font-size: 17px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;
            text-align: center;}
.tex6{position: absolute;
    top: 3791px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 200;
    text-align: center;}
.tex7{position: absolute;
    top: 3821px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
    text-align: center;}
.tex8{position: absolute;
    top: 580px;
    left: 40px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
    text-align: center;}
.tex9{position: absolute;
    top: 580px;
    right: 70px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
    text-align: center;}






        @keyframes moving1 
        {0%{margin-top: 5%;opacity: 0;}
            100%{margin-top: 0%;opacity: 1;}}
